{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "fetch": false
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/prop-types": ["off", {

      "ignore": [],
      "customValidators": [],
      "skipUndeclared": true
    }]

  }
}