{ "parser": "babel-eslint",
  "env": {
    "es6": true,
    "jest": true
  },
  "plugins": ["react", "import", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": false,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": false,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": false,
      "regexUFlag": false,
      "regexYFlag": false,
      "restParams": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodePointEscapes": true,
      "globalReturn": false,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/no-string-refs": 1,
    "react/no-deprecated": 1,
    "react/jsx-no-target-blank": 1,
    "react/no-unescaped-entities": 0,
    // Override recommended, the goal is to remove these (same as setting them to 2)
    "no-console": 0,
    "no-redeclare": 0,
    "react/prop-types": 0,
    "prettier/prettier": 2,
    // React
    "react/display-name": 0,
    // Own applied rules - All should be at 2
    "no-useless-escape": 0,
    "block-scoped-var": 0,
    "brace-style": 2,
    "dot-notation": 2,
    "eqeqeq": 0,
    "new-cap": 0,
    "new-parens": 2,
    "no-array-constructor": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-lonely-if": 2,
    "no-negated-condition": 0,
    "no-new-object": 2,
    "no-param-reassign": [0, { "props": false }],
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-spaced-func": 2,
    "arrow-spacing": 2,
    "no-shadow": 0,
    "no-shadow-restricted-names": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-unneeded-ternary": 2,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "no-useless-call": 2,
    "no-void": 2,
    "operator-linebreak": 0,
    "radix": 2,
    "strict": [0, "global"],
    "vars-on-top": 0
  },
  "globals": {
    "jasmine": false,
    "nv": false,
    "window": false,
    "document": false,
    "ARDOQ": true,
    "API_VERSION": false,
    "version": false,
    "workspaceId": true,
    "console": false,
    "settings": false,
    "$": false,
    "jQuery": false,
    "_": false,
    "alert": false,
    "setTimeout": false,
    "clearTimeout": false,
    "setInterval": false,
    "clearInterval": false,
    "dagreD3": false,
    "require": false,
    "define": false,
    "markdown": false,
    "confirm": false,
    "Backbone": false,
    "Filters": false,
    "FormData": false,
    "Handsontable": false,
    "CodeMirror": false,
    "navigator": false,
    "prettyPrint": false,
    "Intercom": false,
    "localStorage": false,
    "analytics": true,
    "LOG": false,
    "error": false,
    "apiLog": false,
    "process": false,
    "buster": false,
    "fail": false,
    "crypto": false,
    "k": true,
    "module": false,
    "exports": true,
    "defaultPrint": true,
    "FileReader": true,
    "moment": false,
    "URL": false,
    "Image": false,
    "DOMParser": false,
    "__dirname": false
  },
  "overrides": [
    {
      "files": ["*.tests.js", "*-test.js"],
      "env": {
        "node": true,
        "jest": true
      },
      "settings": {
        "import/resolver": {
          "webpack": {
            "config": "webpack.test.js",
            "resolve": {
              "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
          }
        }
      }
    }
  ]
}
