@font-face {
  font-family: 'SF Alien Encounters';
  font-style: normal;
  font-weight: 400;
  src: local('SF Alien Encounters'),
  url(./alienEncounters/SFAlienEncounters.ttf) format('truetype');
}

@font-face {
  font-family: 'SF Alien Encounters Solid';
  font-style: normal;
  font-weight: 400;
  src: local('SF Alien Encounters Solid'),
  url(./alienEncounters/SFAlienEncountersSolid.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: "SF Alien Encounters Solid",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
